<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>100</batches>
  <inactive>30</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-40.0 -40.0 -40.0 40.0 40.0 40.0</parameters>
    </space>
  </source>
  <output>
    <summary>true</summary>
  </output>
  <verbosity> 8 </verbosity>
</settings>
